<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2849.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.3.4" targetFramework="net48" />
  <package id="ShareFile.Api.Client" version="4.0.200" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net48" />
</packages>